<script>
//some languages require rtl
document.body.dir="<%= ApplicationController.site_direction(session[:locale]) %>";
//console.log("<%=I18n.locale %>");
//console.log("<%=ApplicationController.site_direction(params[:locale]) %>");
</script>

<style>
  .row-centered {
    text-align: center;
  }

  .col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
  }
</style>

<div class="container">
	
<div class="row">
	<div class="col-xs-12">
		<a style='font-size:24pt' href="#" onclick='history.back()'> &#8592; </a>
	</div>
</div>

<div class="row row-centered">

	<form action="" method="post">

		<div class="row">	
		<div class="col-xs-12 question">
			<%=t @question %>
		</div>
		</div>

		<div class="row">
		<div class="col-xs-12 options">

			<% @options.each do |option| %>
				<div class="radio">
				  <label>
				    <input type="radio" name="answer" id="answer" value="<%= option.downcase %>">
				    <%=t option %>
				  </label>
				</div>
			<% end %>
		</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<a href="#" class="btn btn-default"><%= I18n.t(:nav_back) %> </a>
			</div>
			<div class="col-xs-6" style="text-align:right">
				<input name="<%= request_forgery_protection_token.to_s %>" type="hidden" value="<%= form_authenticity_token %>" />
				<button type="submit" class="btn btn-success"><%= I18n.t(:nav_next) %></button>
			</div>
		</div>

	</form>

</div>

<div class="row row-centered">
	<div class="col-xs-3"><i class="fa fa-info"></i></div>
	<div class="col-xs-9"><%=t @info %></div>
</div>

</div>
