<script>
//some languages require rtl
document.body.dir="<%= ApplicationController.site_direction(session[:locale]) %>";
//console.log("<%=I18n.locale %>");
//console.log("<%=ApplicationController.site_direction(params[:locale]) %>");
</script>

<style>
  .row-centered {
    text-align: center;
  }

  .col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
  }

  .footer-info {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
  }

  form {
    padding-bottom: 10px;
  }

  .radio {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .question {
    padding-bottom: 10px;
  }

  .navbar-brand, img {
    padding-bottom: 25px;
    height: 75px;
  }

  .
</style>

<div class="container">
	<!--
<div class="row">
	<div class="col-xs-12">
		<a style='font-size:24pt' href="#" onclick='history.back()'> &#8592; </a>
	</div>
</div>
-->
<div class="row">

	<form action="" method="post">

		<div class="row row-centered">	
      <div class="col-xs-12 question">
        <h1><%=t @question %></h1>
      </div>
      </div>

      <div class="row row-centered">
      <div class="col-xs-12 options">

        <% @options.each do |option| %>
          <div class="radio">
            <label>
                <input type="radio" name="answer" id="answer" value="<%= option.downcase %>">
                <%=t option %>
            </label>
          </div>
        <% end %>
      </div>
		</div>

		<div class="row row-centered">
			<div class="col-xs-5">
				<a href="#" onclick='history.back()' class="btn btn-default"><%= I18n.t(:nav_back) %> </a>
			</div>
			<div class="col-xs-5" style="text-align:right">
				<input name="<%= request_forgery_protection_token.to_s %>" type="hidden" value="<%= form_authenticity_token %>" />
				<button type="submit" class="btn btn-success"><%= I18n.t(:nav_next) %></button>
			</div>
		</div>

	</form>

</div>


<footer class="footer">
  <div class="row panel panel-footer ">
    <div class="footer-info col-xs-1"><h1><i class="fa fa-info"></i></h1></div>
    <div class="footer-info col-xs-11"><%=t @info %></div>
  </div>
</footer>

</div>
