<div class="container">
	
	<div class="row">
		
		<div class="col-xs-12">
			<form>
			  <div class="form-group row">
				  <div class="col-xs-5"><label for="language"><%= I18n.t(:select_language) %></label></div>
			    
			    <div class="col-xs-7">
				  <select class="form-control" onchange='location.href = "?locale=" + this.value'>
					<option value='en' <%= "selected" if params["locale"] == "en" %> >English</option>
					<option value='es' <%= "selected" if params["locale"] == "es" %> >Español</option>
				</select>
				</div>
			  </div>
			</form>

		</div>	

	</div>

	<div class="row logo">
		<center><%= image_tag("estrella-logo-horizontal.svg", alt: "Estrella logo") %></center>	
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h1><%= I18n.t(:we_help_you) %> </h1>
		</div>
	</div>

	<div class="row">
		<form action="screening" method="get">
			  <div class="form-group">
			    <label for="localization"><%= I18n.t(:where_do_you_live) %></label>
			    <div class="input-group">
			      <input type="text" class="form-control" id="localization" placeholder="<%= I18n.t(:enter_zip) %>">
			      <div id="location-arrow" class="input-group-addon"><i class="fa fa-location-arrow"></i></div>
			    </div>
			  </div>
			  <button type="submit" class="btn btn-success"><%= I18n.t(:start) %></button>
		</form>
	</div>

</div>
