<!DOCTYPE html>
<html>
<head>
  <title>Estrella</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300&subset=latin,cyrillic-ext,greek-ext,vietnamese,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="width:100%">

        <a class="navbar-brand col-xs-8"> 
        <%= image_tag("estrella-logo-horizontal.svg", alt: "Estrella") %>
      </a>
      <div class='col-xs-4' style='padding:20px'>
          <select style='min-width:120px' class="capitalize form-control" name="locale" onchange='location.href = "?locale=" + this.value'>
								<option <%= "selected" if params["locale"] == "en" %> value='en'>english</option>
								<option <%= "selected" if params["locale"] == "fr" %> value='fr'>français</option>
								<option <%= "selected" if params["locale"] == "arb" %> value='arb'>العراقية</option>
								<option <%= "selected" if params["locale"] == "sq" %> value='sq'>albanian</option>
								<option <%= "selected" if params["locale"] == "hy" %> value='hy'>հայերեն</option>
								<option <%= "selected" if params["locale"] == "zh" %> value='zh'>中国粤菜</option>
								<option <%= "selected" if params["locale"] == "fa" %> value='fa'>فارسی</option>
								<option <%= "selected" if params["locale"] == "de" %> value='de'>deutsche</option>
								<option <%= "selected" if params["locale"] == "es" %> value='es'>español</option>
								<option <%= "selected" if params["locale"] == "ht" %> value='ht'>kreyòl ayisyen</option>
								<option <%= "selected" if params["locale"] == "ja" %> value='ja'>日本語</option>
								<option <%= "selected" if params["locale"] == "ko" %> value='ko'>한국어</option>
								<option <%= "selected" if params["locale"] == "zh-tw" %> value='zh-tw'>中國</option>
								<option <%= "selected" if params["locale"] == "cmn" %> value='cmn'>中国官话</option>
								<option <%= "selected" if params["locale"] == "pa" %> value='pa'>ਪੰਜਾਬੀ'</option>
								<option <%= "selected" if params["locale"] == "bs" %> value='bs'>srpsko-hrvatski</option>
						</select>
          </div>
          <!--
       <ul class="nav navbar-nav navbar-right col-xs-2" >
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
          -->
    </div>
  </div>
</nav> 

<%= yield %>

</body>
</html>
