<!DOCTYPE html>
<html>
<head>
  <title>Estrella</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300&subset=latin,cyrillic-ext,greek-ext,vietnamese,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
			<a class="navbar-brand">
				<%= image_tag("estrella-logo-horizontal.svg", alt: "Estrella logo") %>
      </a>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
